h2 {
  font-size: 28px;
  color: #2c3e50;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 50px;
}

.search-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 40px;
  flex-wrap: wrap;
}

.search-div,
.select-div {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
  padding: 0 10px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

.userInput,
select {
  width: 100%;
  max-width: 300px;
  padding: 10px;
  border: 2px solid #3498db;
  border-radius: 4px;
  font-size: 16px;
}

.page {
  font-size: 16px;
  color: #34495e;
  text-align: center;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th,
td {
  padding: 15px;
  border: 1px solid #ecf0f1;
  text-align: left;
}

th {
  background-color: #3498db;
  color: white;
  cursor: pointer;
}

th:hover {
  background-color: #61acdd;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

tbody tr:hover {
  background-color: #eaf2f8;
}

.btn {
  background-color: rgb(47, 131, 47);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.btn:hover {
  background-color: rgb(84, 136, 84);
}

.totalDiv {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}

.totalDiv p {
  color: #34495e;
  margin: 10px 0;
}

.error {
  color: red;
  text-align: center;
}

/* Responsiv design */
@media (max-width: 768px) {
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border: 1px solid #ecf0f1;
    margin-bottom: 10px;
  }

  td {
    border: none;
    border-bottom: 1px solid #ecf0f1;
    position: relative;
    padding-left: 50%;
    text-align: right;
  }

  td:before {
    position: absolute;
    top: 50%;
    left: 15px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    transform: translateY(-50%);
    text-align: left;
    font-weight: bold;
  }

  td:nth-of-type(1):before {
    content: "Kurskod";
  }
  td:nth-of-type(2):before {
    content: "Kursnamn";
  }
  td:nth-of-type(3):before {
    content: "Poäng";
  }
  td:nth-of-type(4):before {
    content: "Ämne";
  }
  td:nth-of-type(5):before {
    content: "Kursplan";
  }
  td:nth-of-type(6):before {
    content: "";
  }
}

@media (max-width: 480px) {
  h2 {
    font-size: 24px;
  }

  .userInput,
  select {
    padding: 8px;
    font-size: 14px;
  }

  th,
  td {
    padding: 10px;
  }

  .btn {
    padding: 8px 16px;
    font-size: 14px;
  }

  td {
    padding-left: 40%;
  }

  td:before {
    left: 10px;
    width: 30%;
  }
}
