<h2>Alla kurser:</h2>
<div class="search-container">
  <div class="search-div">
    <label for="filter">Filtrera kurs</label>
    <br />
    <input
      type="text"
      id="filter"
      [(ngModel)]="inputValue"
      (input)="filterCourses()"
      class="userInput"
    />
  </div>
  <div class="select-div">
    <label for="select-subject">Ämne:</label>
    <select
      id="select-subject"
      [(ngModel)]="selectedSubject"
      (change)="filterCourses()"
    >
      <option *ngFor="let subject of subjects" [value]="subject">
        {{ subject }}
      </option>
    </select>
  </div>
</div>

<p class="page">
  Listar {{ filteredCourses.length }} av {{ courses.length }} möjliga
</p>

<table>
  <thead>
    <tr>
      <th (click)="sortByCode()">Kurskod</th>
      <th (click)="sortNyName()">Kursnamn</th>
      <th (click)="sortByPoints()">Poäng</th>
      <th (click)="sortBySubject()">Ämne</th>
      <th>Kursplan</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let course of filteredCourses">
      <td>{{ course.courseCode }}</td>
      <td>{{ course.courseName }}</td>
      <td>{{ course.points }}</td>
      <td>{{ course.subject }}</td>
      <td><a href="{{ course.syllabus }}" target="_blank">Kursplan</a></td>
      <button (click)="addCourse(course)" class="btn">Lägg till</button>
    </tr>
  </tbody>
</table>
