<div class="home-container">
  <h1>Välkommen till Kursportalen</h1>
  <p>
    Här kan du hitta information om alla våra kurser och skapa ditt personliga
    ramschema.
  </p>

  <div class="info-section">
    <h2>Utforska Kurser</h2>
    <p>
      Besök vår <a routerLink="/courses">kursutbud</a>-sida för att se alla
      tillgängliga kurser och filtrera dem efter dina intressen.
    </p>
    <img src="assets/images/pic1.jpg" alt="Studenter" class="info-image" />
  </div>

  <div class="info-section">
    <h2>Skapa ditt Ramschema</h2>
    <p>
      Gå till <a routerLink="/framework">ramschema</a>-sidan för att skapa och
      anpassa ditt eget schema med kurser.
    </p>
    <img src="assets/images/pic2.jpg" alt="Ramschema" class="info-image" />
  </div>

  <div class="info-section">
    <h2>Utforska mer</h2>
    <p>
      Se var våra utbildningar hålls och lär känna våra campus. Klicka
      <a href="https://www.miun.se/" target="_blank">här</a> för att läsa mer.
    </p>

    <img src="assets/images/pic3.jpg" alt="Campus" class="info-image" />
  </div>
</div>
